{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Create{% endblock title %}

{% block content %}
    
<br>
<div class="card my-3 mb-5">
  <h5 class="card-header">Create Restaurant</h5>
  <div class="card-body">
    <p class="card-text">
        <form action="{% url 'restaurant-create' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" value="Create" class="btn btn-outline-success mt-4">
        </form>
    </p>
  </div>
</div>
{% endblock content %}
